

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
    --primary-color : #cc3366;
    --primary-dark-color : #96003c;
    --primary-light-color : #ff6993;
    --secondary-color : #795548;
    --secondary-dark-color : #4b2c20;
    --secondary-light-color : #a98274;
    --text-primary-color : #ffffff;
    --text-secondary-color : #ffffff;
    --text-color: #22262a;
    --gray-dark: #414149;
    --gray: #878f97;
    --gray-light: #f0f2f4;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

h1, h2, h3, h4 {
    font-family: Sansita, sans-serif;
    letter-spacing: 0.015em;
    margin: 0;
}

label {
    color: var(--text-color);
}

.primary {
    background-color: var(--primary-color) !important;
    padding: 0;
}

.inner-container {
    max-width: 1080px;
    margin: 0 auto;
}

section .inner-container {
    padding: 2em 0 2em;
}


header {
    background-color: var(--primary-color);
    padding: 0.4em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito, sans-serif;
}

header h1 {
    color: white;
    vertical-align: middle;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    letter-spacing: 0.05em;
}

.donate-button {
    border: 2px  solid white;
    background-color: var(--primary-color);
    border-radius: 0.5em;
    padding: 0.15em 0.5em ;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: white;
    animation: twinkle 1.5s linear 3;
}

.nav-bar__menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-bar__menu > li > a {
    display:  block;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0.3em 0.8em;
}

.nav-bar__menu > li:hover > a {
    color: var(--gray);
}

.nav-bar__label {
    display: none;
}

@media (min-width: 50em) {
    .nav-bar__label {
        display: inline;
    }
}


.hero{
    color: white;
    background-image: url(./static/hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}



.hero__container {
    width: 50%;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 35em) {
    .hero__container {
        width: 40%;
        align-items: center;
    }
}

.hero h1 {
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em var(--gray-dark);
}

@media (min-width: 35em) {

    .hero h1 {
        font-size: 2rem;
    }
}

.hero p {
    font-size: 0.7rem;
    text-shadow: 0.1em 0.1em 0.2em var(--gray-dark);
    font-family: Nunito, sans-serif;
}

@media (min-width: 35em) {
    .hero p {
        font-size: 1rem;
    }
}

.main-button {
    font-size: 1rem;
    text-transform: capitalize;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 0.2em 0.5em;
    border: 0;
    color: white;
    border-radius: 2em;
    background-image: linear-gradient(to bottom, var(--primary-light-color), var(--primary-color));
    box-shadow: 0.1em 0.1em 0.5em var(--primary-dark-color);
    margin: 1em;
}

.favorite-button {
    font-size: 0.5rem;
    border: none;
    border-radius: 50%;
    padding: 0.7em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: var(--primary-dark-color);
    opacity: 60%;
}

.favorite-button:hover {
    opacity: 100%;
}



.sight-button i{
    color: white;
}

.lost-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 35em) {
    .lost-container {
        flex-wrap: nowrap;
    }
}

.section-title{
    font-size: 1.5rem;
    color: var(--primary-dark-color);
    text-align: center;
}

.lost-container .pet-card {
    flex-basis: 40%;
    margin: 0.5em;
}

@media (min-width: 35em) {
    .lost-container .pet-card {
        flex : 1;
        margin: 0;
    }
}

.pet-card {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.5em #124;
    position: relative;
}


@media (min-width: 35em) {
    .pet-card + .pet-card {
        margin-left: 1em;
    }
}

.pet-card__img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: block;
    width: 100%;
}

.pet-card__body {
    padding: 0.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    position: relative;
}

.sight-button {
    position: absolute;
    left: calc(50% - 1.5em);
    top: -1em;
    width: 3em;
    height: 2em;
    font-size: 1.2rem;
    border: solid 0.2rem white;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.sight-button:hover {
    background-color: var(--secondary-dark-color);
}


.pet-card__title {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.5em auto 0;
    text-transform: uppercase;
    color: var(--primary-dark-color);
}

.ver-mas {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 1em;
    height: 100%;
    cursor: pointer;
}

 .pet-card:hover .ver-mas {
    background-color: var(--primary-dark-color) ;
    border-radius: 1em;
}



.ver-mas i {
    font-size: 5rem;
}


.ver-mas p {
    font-size: 1rem;
    font-weight: bold;
}


.services{
    background-color:  var(--gray-light);
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    box-shadow: 0.1em 0.1em 0.3em var(--gray);
}

.tile {
    font-size: 0.7rem;
    padding: 2em 1.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tile:hover {
    background-color: var(--secondary-color);
}

.tile__icon {
    color: var(--secondary-color);
}

.tile:hover  .tile__icon {
    color: white;
}

.tile__title {
    font-size: 0.7rem;
    color: black;
    margin: 0 auto;
}

@media (min-width: 35em) {
    .tile__title {
        font-size: 1rem;
    }
}

.tile:hover  .tile__title {
    color: var(--gray-light);
}

.adoptions{
    background-color:  var(--white);
}

.adoptions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.2em;
}

.adopt-card {
    grid-column: span 1;
    grid-row: span 1;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adopt-card__img {
    width: 80%;
    border-radius: 50%;
    border : 0.5em solid var(--secondary-light-color);
}

.adopt-card:hover .adopt-card__img {
    transform: scale(1.1);
    border : 0.3em solid var(--secondary-color);
}


.adopt-card__title {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.5em auto 0;
    text-transform: uppercase;
    color: var(--primary-dark-color);
}

.adopt-button {
    margin-top: 0.5em;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 0.2em 0.5em;
    border: 0;
    color: white;
    border-radius: 2em;
    background-image: linear-gradient(to bottom, var(--primary-light-color), var(--primary-color));
    box-shadow: 0.1em 0.1em 0.5em var(--primary-dark-color);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-nunber {
    margin: 0 0.5em;
    width: 2em;
    height: 2em;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-dark-color);
    color: white;
    box-shadow: 0.1em 0.1em 0.5em var(--gray-dark);
}

footer {
    font-size: 0.5rem;
    background-color: var(--gray);
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 35em) {
    footer {
        font-size: 1rem;
    }
}

.redes {
    display: flex;
}

.redes__button {
    margin: 0;
    margin-right: 0.3em;
    padding: 0.1em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    background-color: var(--gray-dark);
    border-radius: 50%;
    cursor: pointer;
}

.redes__button:hover {
    color: var(--gray-dark);
    background-color: white;
}

footer > div {
    flex: 1;
    height: 100%;
}

footer ul {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

footer h5 {
    font-size: 0.7rem;
    color: var(--gray-dark);
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

@media (min-width: 35em) {
    footer h5 {
        font-size: 1rem;
    }
}

footer li + li{
    padding-top: 0.2em;
}


footer button {
    margin: auto auto;
}

footer a {
    font-size: 0.5rem;
    text-decoration: none;
    color: white;
}

@media (min-width: 35em) {
    footer a {
        font-size: 0.8rem;
    }
}

footer a:hover {
    color: var(--gray-dark);
}

@keyframes twinkle {
    0%,  50%, 100% {
        border-color: white;
        background-color: var(--primary-color);
        color: white;
    }
    25%, 75% {
        border-color: var(--primary-color);
        background-color: white;
        color: var(--primary-color);
    }  
}


