/* https://preview.themeforest.net/item/pets-pet-care-shop-and-veterinary-html-template/full_screen_preview/23334988?_ga=2.157449016.385113034.1631728275-1909854472.1576614455 
https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=FF6F00*/ 

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}


img.logo {
    width: 8em;
    height: 8em;
}

.nav-site {
    list-style-type: none;
    background-color: #F7941D;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    margin: 0;
}


.nav-site > li > a {
    display:  block;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

main {
    display: flex;
    flex-direction: column;
}

.lost{
    display: flex;
    justify-content: space-around;
    background-color: #ff6f69;
}

.lost-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:    "title title"
                            "media map"
                            "media description";
}

.lost-title {
    grid-area: title;
}

.lost-media {
    grid-area: media;
}

.lost-map {
    grid-area: map;
}

.lost-description {
    grid-area: description;
}

.service {
    background-color: #d9ad7c;
    padding: 3em;
}

.adoption {
    background-color: #d6d4e0;
    padding: 3em;
}


footer {
    background-color: #3C2800;
    padding: 3em;
}



