/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=D7CCC8&secondary.color=5D4037 */ 

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    gap: 1em;
}

header {
    background-color: #d7ccc8;
    padding: 3em;
}


main {
    background-color: #fffffb;
    padding: 3em;
}

footer {
    background-color: #5d4037;
    padding: 3em;
}

.nav-site {
    list-style-type: none;
    background-color: #8b6b61;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    margin: 0;
}


.nav-site > li > a {
    display:  block;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

